<section class="indexPage">
    <div class="" id="select-container">
        <a href="/ingresar" class="anchor-select left <%= paginaActual === 'login' ? 'anchor-active' : '' %>" >Iniciar sesión</a>
        <a href="/registrarse" class="anchor-select right <%= paginaActual === 'register' ? 'anchor-active' : '' %>" >Crear cuenta</a>
    </div>

    <h3 class="tittle-form">
        <%= modo === 'login' ? 'Iniciar sesión' : 'Crear cuenta' %>
    </h3>

    <form id="admin-form" action="<%= modo === 'login' ? '/login' : '/register' %>" method="POST"  data-mode="<%= modo === 'login' ? 'login' : 'register' %>">
        <% if (modo === 'registro') { %>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" id="apellido" name="apellido" class="form-control"
            />
        </div>
        <% } %>

        <div class="mb-3">
            <label for="formEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="formEmail" aria-describedby="emailHelp"/>
        </div>
        <div class="mb-3">
            <label for="formPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="formPassword"/>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn-submit" id="submitBtn">
                <%= modo === 'login' ? 'Ingresar' : 'Registrarme' %>
            </button>
        </div>
    </form>

    <% if (modo === 'login') { %>
    <script type="module">
        import { initializeLoginFormFiller } from '/script/loginButtonModule.js';
        
        // Esperamos a que el DOM esté listo
        document.addEventListener('DOMContentLoaded', () => {

            initializeLoginFormFiller();

        });
    </script>
<% } %>
</section>
